#dynamic{
    font-family: 'Permanent Marker', cursive;}
    
#dynamic-2{
        font-family: 'Permanent Marker', cursive;
        }
#dynamic-3{
            font-family: 'Permanent Marker', cursive;
            }
#spirit{
    font-family: 'Courgette', cursive;
    }